In [294]:
import pandas as pd

In [295]:
covid_vacc_df = pd.read_csv('resources/us_state_vaccinations.csv')
covid_vacc_df.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,1/12/2021,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207,NaN,NaN
1,1/13/2021,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,NaN,NaN
2,1/14/2021,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212,NaN,NaN
3,1/15/2021,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226,NaN,NaN
4,1/16/2021,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN,NaN,NaN

In [296]:
covid_vacc_df.isnull().sum()

date                                       0
location                                   0
total_vaccinations                     20148
total_distributed                      20408
people_vaccinated                      20412
people_fully_vaccinated_per_hundred    22014
total_vaccinations_per_hundred         21915
people_fully_vaccinated                20492
people_vaccinated_per_hundred          21939
distributed_per_hundred                21935
daily_vaccinations_raw                 24034
daily_vaccinations                        65
daily_vaccinations_per_million          2807
share_doses_used                       20408
total_boosters                         34564
total_boosters_per_hundred             35411
dtype: int64

In [297]:
covid_vacc_df.dtypes

date                                    object
location                                object
total_vaccinations                     float64
total_distributed                      float64
people_vaccinated                      float64
people_fully_vaccinated_per_hundred    float64
total_vaccinations_per_hundred         float64
people_fully_vaccinated                float64
people_vaccinated_per_hundred          float64
distributed_per_hundred                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
daily_vaccinations_per_million         float64
share_doses_used                       float64
total_boosters                         float64
total_boosters_per_hundred             float64
dtype: object

In [298]:
covid_vacc_df_drop = covid_vacc_df.drop(columns=["total_vaccinations","total_distributed","total_vaccinations_per_hundred","distributed_per_hundred","daily_vaccinations_raw","daily_vaccinations","daily_vaccinations_per_million","share_doses_used","total_boosters","total_boosters_per_hundred"])
covid_vacc_df_drop.head()

,date,location,people_vaccinated,people_fully_vaccinated_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred
0,1/12/2021,Alabama,70861.0,0.15,7270.0,1.45
1,1/13/2021,Alabama,74792.0,0.19,9245.0,1.53
2,1/14/2021,Alabama,80480.0,NaN,NaN,1.64
3,1/15/2021,Alabama,86956.0,0.28,13488.0,1.77
4,1/16/2021,Alabama,NaN,NaN,NaN,NaN

In [299]:
covid_vacc_df_drop.isnull().sum()

date                                       0
location                                   0
people_vaccinated                      20412
people_fully_vaccinated_per_hundred    22014
people_fully_vaccinated                20492
people_vaccinated_per_hundred          21939
dtype: int64

In [300]:
covid_vacc_df_dropnull = covid_vacc_df_drop.dropna()
covid_vacc_df_dropnull.isnull().sum()

date                                   0
location                               0
people_vaccinated                      0
people_fully_vaccinated_per_hundred    0
people_fully_vaccinated                0
people_vaccinated_per_hundred          0
dtype: int64

In [301]:
covid_vacc_df_dropnull.head()

,date,location,people_vaccinated,people_fully_vaccinated_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred
0,1/12/2021,Alabama,70861.0,0.15,7270.0,1.45
1,1/13/2021,Alabama,74792.0,0.19,9245.0,1.53
3,1/15/2021,Alabama,86956.0,0.28,13488.0,1.77
7,1/19/2021,Alabama,114319.0,0.33,16346.0,2.33
8,1/20/2021,Alabama,121113.0,0.37,17956.0,2.47

In [302]:
covid_vacc_df_copy = covid_vacc_df_dropnull.copy()

In [303]:
covid_vacc_df_copy['date'] = pd.to_datetime(covid_vacc_df_copy['date'])
covid_vacc_df_copy['year'] = covid_vacc_df_copy['date'].dt.year

In [304]:
covid_vacc_df_copy.head()

,date,location,people_vaccinated,people_fully_vaccinated_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,year
0,2021-01-12,Alabama,70861.0,0.15,7270.0,1.45,2021
1,2021-01-13,Alabama,74792.0,0.19,9245.0,1.53,2021
3,2021-01-15,Alabama,86956.0,0.28,13488.0,1.77,2021
7,2021-01-19,Alabama,114319.0,0.33,16346.0,2.33,2021
8,2021-01-20,Alabama,121113.0,0.37,17956.0,2.47,2021

In [305]:
covid_vacc_df_1 = covid_vacc_df_copy.drop(columns=["date"])
covid_vacc_df_1.head()

,location,people_vaccinated,people_fully_vaccinated_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,year
0,Alabama,70861.0,0.15,7270.0,1.45,2021
1,Alabama,74792.0,0.19,9245.0,1.53,2021
3,Alabama,86956.0,0.28,13488.0,1.77,2021
7,Alabama,114319.0,0.33,16346.0,2.33,2021
8,Alabama,121113.0,0.37,17956.0,2.47,2021

In [306]:
covid_vacc_df_2 = covid_vacc_df_1[["year","location","people_vaccinated","people_vaccinated_per_hundred","people_fully_vaccinated","people_fully_vaccinated_per_hundred"]]
covid_vacc_df_2.head()

,year,location,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred
0,2021,Alabama,70861.0,1.45,7270.0,0.15
1,2021,Alabama,74792.0,1.53,9245.0,0.19
3,2021,Alabama,86956.0,1.77,13488.0,0.28
7,2021,Alabama,114319.0,2.33,16346.0,0.33
8,2021,Alabama,121113.0,2.47,17956.0,0.37

In [307]:
last_vaccinations_df = pd.DataFrame(columns=['location', 'people_vaccinated','people_fully_vaccinated','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred'])

for state in covid_vacc_df_2['location'].unique():
    for year in [2021, 2022, 2023]:
        last_vaccinations_df = last_vaccinations_df.append(
            covid_vacc_df_2.loc[(covid_vacc_df_2['location']==state) & (covid_vacc_df_2['year']==year)].tail(1)[['location', 'people_vaccinated','people_fully_vaccinated','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred', 'year']]
        )

last_vaccinations_df.reset_index(drop=True, inplace=True)
last_vaccinations_df.head()

,location,people_vaccinated,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,year
0,Alabama,2868764.0,2335344.0,58.51,47.63,2021.0
1,Alabama,3178492.0,2599499.0,64.83,53.02,2022.0
2,Alabama,3190565.0,2609715.0,65.07,53.22,2023.0
3,Alaska,475688.0,412110.0,65.03,56.33,2021.0
4,Alaska,532210.0,475125.0,72.75,64.95,2022.0

In [308]:
grouped_df = last_vaccinations_df.groupby(['location', 'year']).agg({'people_vaccinated': 'sum','people_fully_vaccinated':'sum','people_vaccinated_per_hundred':'sum','people_fully_vaccinated_per_hundred':'sum'})
grouped_df.head()

                 people_vaccinated  people_fully_vaccinated  \
location year
Alabama  2021.0          2868764.0                2335344.0
         2022.0          3178492.0                2599499.0
         2023.0          3190565.0                2609715.0
Alaska   2021.0           475688.0                 412110.0
         2022.0           532210.0                 475125.0

                 people_vaccinated_per_hundred  \
location year
Alabama  2021.0                          58.51
         2022.0                          64.83
         2023.0                          65.07
Alaska   2021.0                          65.03
         2022.0                          72.75

                 people_fully_vaccinated_per_hundred
location year
Alabama  2021.0                                47.63
         2022.0                                53.02
         2023.0                                53.22
Alaska   2021.0                                56.33
         2022.0                                64.95

In [309]:
grouped_df.to_csv('vaccinattion_data_unformat.csv', index=True)

In [310]:
covid_vacc_year_df = pd.read_csv('/resources/vaccinattion_data_unformat.csv')
covid_vacc_year_df.head()

,location,year,people_vaccinated,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred
0,Alabama,2021.0,2868764.0,2335344.0,58.51,47.63
1,Alabama,2022.0,3178492.0,2599499.0,64.83,53.02
2,Alabama,2023.0,3190565.0,2609715.0,65.07,53.22
3,Alaska,2021.0,475688.0,412110.0,65.03,56.33
4,Alaska,2022.0,532210.0,475125.0,72.75,64.95

In [311]:
covid_vacc_year_df.dtypes

location                                object
year                                   float64
people_vaccinated                      float64
people_fully_vaccinated                float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
dtype: object

In [312]:
covid_vacc_year_df['location'] = pd.Categorical(covid_vacc_year_df['location'])

In [313]:
covid_vacc_year_df['year'] = covid_vacc_year_df['year'].astype(int)

In [314]:
covid_vacc_year_df.dtypes

location                               category
year                                      int32
people_vaccinated                       float64
people_fully_vaccinated                 float64
people_vaccinated_per_hundred           float64
people_fully_vaccinated_per_hundred     float64
dtype: object

In [315]:
# Calculate the total population based on the vaccination data
covid_vacc_year_df['total_population'] = (covid_vacc_year_df['people_vaccinated'] / (covid_vacc_year_df['people_vaccinated_per_hundred'] / 100))

In [316]:
covid_vacc_year_df.head()

,location,year,people_vaccinated,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_population
0,Alabama,2021,2868764.0,2335344.0,58.51,47.63,4.903032e+06
1,Alabama,2022,3178492.0,2599499.0,64.83,53.02,4.902810e+06
2,Alabama,2023,3190565.0,2609715.0,65.07,53.22,4.903281e+06
3,Alaska,2021,475688.0,412110.0,65.03,56.33,7.314901e+05
4,Alaska,2022,532210.0,475125.0,72.75,64.95,7.315601e+05

In [320]:
# Define list of US state names
us_states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware','Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky','Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi','Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico','New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania','Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont','Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

# Filter data for US states
us_states_df = covid_vacc_year_df[covid_vacc_year_df['location'].isin(us_states)]

# Create new dataframe with selected columns
us_states_vacc_df = us_states_df[['location', 'year', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_population']]

In [321]:
us_states_vacc_df.head()

,location,year,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_population
0,Alabama,2021,58.51,47.63,4.903032e+06
1,Alabama,2022,64.83,53.02,4.902810e+06
2,Alabama,2023,65.07,53.22,4.903281e+06
3,Alaska,2021,65.03,56.33,7.314901e+05
4,Alaska,2022,72.75,64.95,7.315601e+05

In [322]:
us_states_vacc_df.to_csv('vaccinattion_data_by_year.csv', index=False)